@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root{
  --dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./walpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

header{
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1{
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--purple);
  margin-bottom: 1rem;
}

#new-task-form{
  display: flex;
}

input, button{
  appearance: none;
  border: none;
  outline: none;
  background: none;
  padding: 1rem;
}

#new-task-input{
  flex: 1 1 0%;
  background-color: var(--darkest);
  padding: 1 rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-task-input::placeholder{
  color: var(--grey);
}

#new-task-submit{
  color: var(--light);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--purple), var(--pink));
  cursor: pointer;
  transition: 0.4s;
  border-radius: 2rem;
}

#new-task-submit:hover{
  opacity: 0.8;
}

#new-task-submit:active{
  opacity: 0.6;
}

main{
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--pink);
  margin-bottom: 1rem;
}

#tasks .task{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content .text {
  color: #fff;
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
  color: var(--pink);
}

#tasks .task .actions {
  display: flex;
  margin: 0 --0.5rem;
}

.task .actions button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover{
  opacity: 0.8;
}

.task .actions button:active{
  opacity: 0.6;
}

.task .actions .edit{
  background-image: linear-gradient(to right, var(--purple), var(--pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete{
  color: crimson;
}


body{
  padding-top: 8vw;

}

.background-box{
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  margin-left: 25%;
  padding: 5rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}